@media only screen and (max-width: 320px) {
    .iframe>iframe {
        left: 185%;
        top: 2rem;
        height: 35vw;
        width: 41vw;
    }
    .introInfo {
        display: flex;
        flex-direction: column;
        width: 83vw;
        margin-left: 12px;
        align-items: center;
        padding: 2%;
    }
    .introInfo>p {
        color: white;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        font-size: 12px;
    }
    .introInfo>h1 {
        font-size: 33px;
        color: white;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
    }
    #ubicaciones>h1 {
        
        font-size: 35px;
    }
    .fondoblancoUbicacionesMovil>h1 {
        font-size: 23px;
    }
    .fondoblancoUbicacionesMovil>p {
        font-size: 21px;
    }
    .txtContacto>p {
        font-size: 13px;
    }
    footer {
        padding: 30px;
    }
    .modal-content {
        margin: 67% auto;
    }
    .modal-content {
        width: 56%;
        height: 28%;
    }
}