*{
    margin: 0;
    padding: 0;
}
.formulario{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(Resources/Images/jpg/introcasino.jpg);
}
.imgBack{
    width: 45px;

    
}
h2{
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    margin: 27px;
}
label{
    font-size: 23px;
    font-family: "Josefin Sans", sans-serif;
    color: white;
}
form{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    height: 30px;
    border-radius: 7px;
    border: none;
    width: 100%;
    margin: 11px 0;
}
textarea{
    height: 30%;
    border-radius: 7px;
    border: none;
}
button{
    font-size: 25px;
    padding: 13px;
    border-radius: 14px;
    border: none;
    background: #4CAF50;
    color: white;
}
.campos{
    width: 100%;
}




@media only screen and (max-width: 992px) {
    h2 {
        font-size: 23px;
        text-align: center;
    }
    form {
        width: 72%;
    }
}
@media only screen and (max-width: 768px) {
    h2 {
        font-size: 23px;
    }
    form {
        width: 72%;
    }
}
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 23px;
    }
    form {
        width: 72%;
    }
}
@media only screen and (max-width: 480px) {
    h2 {
        font-size: 23px;
    }
    form {
        width: 72%;
    }
}
v
