*{
  margin: 0; 
}
.btnarriba{
  position: fixed;
    left: 1704px;
    top: 761px;
    z-index: 4;
    box-shadow: -6px 8px 16px #00000045;
    border-radius: 14px;
}
.campos>label{
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
}
#formcontacto>button{
  background-color: green;
  width: 92px;
  height: 49px;
  border-radius: 14px;
  border: none;
  font-size: 26px;
  color: white;
}
.campos>label>input{
  background-color: white;
  border: none;
  width: 248px;
  height: 34px;
  border-radius: 5px;
  margin: 4px;
}
.campos{
  width: 287px;
  height: 188px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#formcontacto{
  width: 546px;
  padding: 60px;
  background-color: #01426C;
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 134px;
}
ul>li{
   list-style-type: none; 
   display:flex;
   justify-content: center;
   align-items: center;
}

ul{
   display:flex;
   flex-direction: row;
   margin-left: 307px;
   height: 96px;
}
li>a{
   text-decoration: none;
   padding: 38px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
}
.juegos>img{
  box-shadow: -8px 7px 11px #00000040;
}
nav{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: row;
   height: 96px;
   background-color: #00000063;
   width: 100vw;
   position: fixed;
   z-index: 4;
}
.logoMarcopoloNavbar{
   width: auto;
}

.poppins-thin {
   font-family: "Poppins", sans-serif;
   font-weight: 100;
   font-style: normal;
 }
 
 .poppins-extralight {
   font-family: "Poppins", sans-serif;
   font-weight: 200;
   font-style: normal;
 }
 
 .poppins-light {
   font-family: "Poppins", sans-serif;
   font-weight: 300;
   font-style: normal;
 }
 
 .poppins-regular {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .poppins-medium {
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
 }
 
 .poppins-semibold {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;
 }
 
 .poppins-bold {
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-style: normal;
 }
 
 .poppins-extrabold {
   font-family: "Poppins", sans-serif;
   font-weight: 800;
   font-style: normal;
 }
 
 .poppins-black {
   font-family: "Poppins", sans-serif;
   font-weight: 900;
   font-style: normal;
 }
 
 .poppins-thin-italic {
   font-family: "Poppins", sans-serif;
   font-weight: 100;
   font-style: italic;
 }
 
 .poppins-extralight-italic {
   font-family: "Poppins", sans-serif;
   font-weight: 200;
   font-style: italic;
 }
 
 .poppins-light-italic {
   font-family: "Poppins", sans-serif;
   font-weight: 300;
   font-style: italic;
 }
 
 .poppins-regular-italic {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: italic;
 }
 
 .poppins-medium-italic {
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: italic;
 }
 
 .poppins-semibold-italic {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: italic;
 }
 
 .poppins-bold-italic {
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-style: italic;
 }
 
 .poppins-extrabold-italic {
   font-family: "Poppins", sans-serif;
   font-weight: 800;
   font-style: italic;
 }
 
 .poppins-black-italic {
   font-family: "Poppins", sans-serif;
   font-weight: 900;
   font-style: italic;
 }

 .linkshover:hover{
   text-decoration: underline;
   background-color: #00000063;

 }
 .logoMarcopoloNavbar{width: 274px;height: 85px;margin-left: 85px;}
 #intro{
   background-image: url(Resources/Images/jpg/introcasino.jpg);
   height: 945px;
   display: flex;
   align-items: center;
   justify-content: center;


 }

 /* style.css */

 
 .container {
   width: 99vw; /* Tamaño fijo del contenedor */
   height: 741px; /* Tamaño fijo del contenedor */
   display: flex;
   gap: 20px;
   overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
   transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
   align-items: center;
 }
 
 .box {
   border-radius: 20px;
   position: relative; /* Asegura que la transformación se aplique correctamente */
   transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 }
 .div1{
  width: 1247px;
  height: 296px;
  transform: translateX(-397px)  ;
  display: flex;
  flex-direction: row;
  align-items: center;
 }
 .div2{
  width: 3897px;
  height: 666px;
  display: flex;
  flex-direction: row;
  align-items: center;
 }
 #div2{
  transform: translateX(-177px);
 }
 #div1{
  transform: translateX(-386px) scale(0.5);
 }
 #div3{
  transform: translateX(219px) scale(0.5);
 }
 .div3{
  width: 1247px;
  height: 296px;
  transform: translateX(221px);
  display: flex;
      flex-direction: row;
 }
 
 #ubicaciones{
   background-image: url(Resources/Images/jpg/fondoUbicaciones.jpg);
   height: 945px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding-top: 195px;
   background-size: cover;
   padding-bottom: 185px;
 }
 

.iconoUbicacion{
  width: 25px;
    height: 33px;
}
.imgUbicacion{
  width: 141%;
  height: 94%;
}
.fondoblancoUbicaciones{
  background-color: white;
  height: 86.5%;
  width: 79%;
  z-index: 5;
  margin-left: -204px;
  border-radius: 0px 50px 50px 0px;
  position: relative;
  padding: 4%;
}
iframe{
  position: absolute;
  border-radius: 35px;
  border: none;
  box-shadow: -5px 5px 5px #00000059;
  left: -194px;
  top: 234px;
  height: 377px;
  width: 503px;
}
.fondoblancoUbicaciones>p{
  margin-bottom: -14px;
}
.infoContacto{
  display: flex;
  flex-direction: row;
  width: 311px;
}
.tamañoContacto{
  font-size: 35px;
  color: #442c22;
}
.targetaPequeña{
  font-size: 15px;
}
#ubicaciones>h1{
margin-top: 45px;
font-size: 45px;
color: #442C22;
}

#juegos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 background-color: #F2F2F2;
}
.contentJuegos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1248px;
  gap: 24px;
}
.juegos>img{
  border-radius: 15px;
}
.juegos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.titulos{
  font-size: 70px;
  font-weight: Bolder;
  margin: 87px 0px 30px;
}
.titulosJuegos{
  margin: 30px;
}
.formcontacto{
  background-color: #01426C;
  display: flex;
  flex-direction: column;
}
.txtContacto{
  display: flex;
  flex-direction: column;
  width: 420px;
  align-items: center;
  text-align: center;
}
.txtContacto>p{
  font-weight: 400;
}
.txtContacto>h1, p{
  color: #01426C;
}

#Contacto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 125px 0;
  background-color: #f2f2f2;
}