@media only screen and (max-width: 320px) {
    .iframe>iframe {
        left: 271%;
        top: 0rem;
        height: 35vw;
        width: 41vw;
    }
    .modal{
        display: flex;
        align-items: center;
    }
    .fondoblancoUbicacionesMovil>h1 {
        font-size: 25px;
    }
    .fondoblancoUbicacionesMovil>p {
        font-size: 27px;
    }
    .grupo>label {
        font-size: 11px;
        font-family: "Poppins", sans-serif;
    }
    #checkbox {
        margin-top: 24px;
        font-size: 12px;
    }
    .btnarriba {
        left: 77vw;
        top: 79vh;
    }

    #closeBtn {
        font-size: 16px;
        margin-top: 12px;
    }
   
    .modal-content {
        width: 51%;
        height: 41%;
    }
    .info_popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 12px;
    }    .content_popup>img {
        width: 52vw;
        height: 16vh;
        border-radius: 7px;
        margin-bottom: 11px;
    }
    .textModal {
        color: rgb(67 67 67);
        font-size: 12px;
    }

}