@media only screen and (max-width: 1366px){
    #div2 {
        transform: translateX(-28vw) scale(0.8);
    }
    #div1 {
        transform: translateX(-31vw) scale(0.5);
    }
    #div3 {
        transform: translateX(-16vw) scale(0.5);
    }
    .modal-content {
        height: 14%;
    }
    .content_popup> img {
        width: 13vw;
        height: 12vh;
        border-radius: 7px;
    }
    .info_popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}