@media only screen and (max-width: 1440px){
    .modal-content {
        height: 28%;
    }
    .textModal {
        color: rgb(67 67 67);
        font-size: 16px ;
    }
    .modal-content {
        height: 17%;
        width: 31%;
    }

    #div1 {
        transform: translateX(-29vw) scale(0.5);
    }

    #div2 {
        transform: translateX(-25vw) scale(0.8);
    }
    #div3 {
        transform: translateX(-13vw) scale(0.5);
    }
    .textModal {
        color: rgb(67 67 67);
        font-size: 14px;
    }
    .content_popup> img {
        width: 12vw;
        height: 15vh;
        border-radius: 7px;
    }
    #ubicaciones {

        height: 881px;
        
        padding-top: 29px;
       
        padding-bottom: 70px;
    }
    .container {
    
        height: 607px;

    }
    .info_popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 236px;
        margin-left: 11px;
    }
}