@media only screen and (max-width: 1280px){
    .modal-content {
        height: 16%;
    }
    #div1 {
        transform: translateX(-38vw) scale(0.5);
    }
    #div2 {
        transform: translateX(-34vw) scale(0.8);
    }
    #div3 {
        transform: translateX(-20vw) scale(0.5);
    }
  
    .modal-content {
        height: 21%;
    }
    .textModal {
        color: rgb(67 67 67);
        font-size: 15px;
    }
    #closeBtn {
        width: 54% ;
        font-size: 14px ;
    }
    .content_popup> img {
        width: 13vw;
        height: 16vh;
        border-radius: 7px;
    }
    .container {
        width: 99vw;
        height: 614px;
        display: flex;
        gap: 20px;
        overflow: hidden;
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        align-items: center;
    }
    #ubicaciones {

        height: 881px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 51px;
        background-size: cover;
        padding-bottom: 0;
    }
}