@media only screen and (max-width: 1680px){
    #div1 {
        transform: translateX(-18vw) scale(0.5);
    }

    #div2 {
        transform: translateX(-14vw) scale(0.8);
    }
    #div3 {
        transform: translateX(-3vw) scale(0.5);
    }
    .modal-content {
        height: 28%;
    }
    .modal-content {
        height: 28%;
    }
    .textModal {
        color: rgb(67 67 67) ;
        font-size: 16px ;
    }
    .modal-content {
        height: 26% ;
    }
}