/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .introInfo {
        text-align: center;
        margin-left: 0;
    }

    .textModal {
        font-size: 14px;
    }

    #intro {
        background-image: url(Resources/Images/jpg/introcasino.jpg);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        flex-direction: column;
        align-content: center;
    }
    header {
        background-color: #00000063;
        width: 100vw;
        height: 96px;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 4;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 96px;
        width: 78vw;
        position: fixed;
        z-index: 4;
    }
    .cerrar {
        width: 100%;
        height: 24%;
    }

    .juegos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 31%;
    }
.modal-content{
    padding: 19px 30px 36px 28px;
    width: 44%;
    height: 16%;
}
    .content_popup>img {
        width: 19vw;
        height: 14vh;
        border-radius: 7px;
    }

    .logoMarcopoloNavbar {
        margin-left: 50px;
    }


    #closeBtn {
        font-size: 16px;
    }

    .cont_grupos {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
    }

    .grupo {
        width: 100%;
        height: auto;
    }

    .grupo>label {
        font-size: 20px;
        font-family: "Poppins", sans-serif;
    }

    .grupo>input {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        border: none;
    }

    .institucional {
        width: 306px;
        padding: 0;
    }

    .logoMarcopoloNavbar {

        margin-left: 32px;
    }

    .grupo>textarea {
        width: 100%;
        height: 34%;
        border-radius: 5px;
        border: none;
    }

    #checkbox {
        margin-top: 24px;
    }

    .institucional>ul {
        margin-left: 8%;
        padding: 0;
        list-style: auto;
        width: 82%;
    }

    .institucional>ul>li {
        color: white;
        list-style: outside;
        width: 100%;
    }

    .institucional>ul {
        margin-left: 8%;
        padding: 0;
        list-style: auto;
        width: 82%;
    }

    .contFooterPrimero>img {
        width: 120px;
        height: 120px;
        margin-top: 6%;
    }

    #div1 {
        transform: translateX(-48vw) scale(0.4);
    }

    #div2 {
        transform: translateX(-56vw) scale(0.7);
    }

    #div3 {
        transform: translateX(-49vw) scale(0.5);
    }
}