@media only screen and (max-width: 480px) {
    .iframe>iframe {
        left: 345%;
        top: -1rem;
        height: 35vw;
        width: 41vw;
    }
    .modal{
        display: flex;
        align-items: center;
    }
    .modal-content {
        width: 43%;
        height: 30%;
    }
    .fondoblancoUbicacionesMovil>h1 {
        font-size: 25px;
    }
    .fondoblancoUbicacionesMovil>p {
        font-size: 27px;
    }
    .grupo>label {
        font-size: 11px;
        font-family: "Poppins", sans-serif;
    }
    .content_popup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #checkbox {
        margin-top: 24px;
        font-size: 12px;
    }
    .content_popup>img {
        width: 47vw;
        height: 18vh;
        border-radius: 7px;
        margin-bottom: 11px;
    }
    .btnarriba {
        left: 77vw;
        top: 79vh;
    }
    .textModal {
        font-size: 15px;
    }
    #closeBtn {
        font-size: 16px;
        margin-top: 12px;
    }
    .modal-content {
        margin: 35% auto;
    }
    .modal-content {
        width: 43%;
        height: auto;
    }
}