
@media only screen and (max-width: 480px) {
    
    body {
        background-position: 25% 47%;
    }
    .iframe>iframe {
        left: 329%;
        top: 0rem;
        height: 35vw;
        width: 41vw;
    }
    #Contacto{
        margin-top: 31px;
    }
    .contFooterPrimero>img {
        width: 120px;
        height: 120px;
        margin-top: 6%;
    }
    .redes>h3 {
        padding: 14px 0px;
        text-align: center;
        margin-top: 16px;
       }
    .modal{
        display: flex;
        align-items: center;
    }
    .modal-content {
        width: 43%;
        height: 30%;
    }
    .fondoblancoUbicacionesMovil>h1 {
        font-size: 25px;
        line-height: 1;
    }
    .fondoblancoUbicacionesMovil>p {
        font-size: 27px;
    }
    .grupo>label {
        font-size: 11px;
        font-family: "Poppins", sans-serif;
    }
    .content_popup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #checkbox {
        margin-top: 24px;
        font-size: 12px;
    }
    .content_popup>img {
        width: 47vw;
        height: 18vh;
        border-radius: 7px;
        margin-bottom: 11px;
    }
    .btnarriba {
        left: 77vw;
        top: 79vh;
    }
    .textModal {
        font-size: 15px;
        width: 81%;
    }
    #closeBtn {
        font-size: 16px;
        margin-top: 12px;
    }
    .modal-content {
        margin: 35% auto;
    }
    .modal-content {
        width: 43%;
        height: auto;
    }
}
@media only screen and (max-width: 430px) {
    body {
        background-position: 25% 43%;
        background-size: contain;
    }
    #Contacto {
        margin-top: 97px;
    }
}

@media only screen and (max-width: 390px) {
    body {
        background-position: 25% 42%;
    }
}
@media only screen and (max-width: 360px) {
    body {
        background-position: 97% 29%;
    }
}