/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    body {
        font-family: Arial, sans-serif;
        cursor: url(Resources/Images/png/cursor.png), auto;
        background-image: url(../Resources/Images/jpg/fondoBody.jpg);
        background-position: 56% 66%;
        background-size: 157%;
    }
    .introInfo {
        width: 394px;
    }

    .textModal {
        font-size: 14px;
    }
    #btnSiguienteIzqBGT {

        left: 1025px;
      
        width: 64px;

    }
    .juegos>img {
        border-radius: 15px;
        width: 96%;
        cursor: url(Resources/Images/png/cursorBlanco.png), auto !important;
    }
    #intro {
        background-image: url(Resources/Images/jpg/introcasino.jpg);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        flex-direction: column;
        align-content: center;
    }
    header {
        background-color: #00000063;
        width: 100vw;
        height: 96px;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 4;
    }
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        height: 96px;
        width: 100vw;
        position: fixed;
        z-index: 4;
    }
    .cerrar {
        width: 100%;
        height: 24%;
    }

    .juegos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 31%;
    }
.modal-content{
    padding: 19px 30px 36px 28px;
    width: 44%;
    height: 16%;
}
    .content_popup>img {
        width: 19vw;
        height: 14vh;
        border-radius: 7px;
    }

    .logoMarcopoloNavbar {
        margin-left: 50px;
    }


    #closeBtn {
        font-size: 16px;
    }

    .cont_grupos {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
    }

    .grupo {
        width: 100%;
        height: auto;
    }

    .grupo>label {
        font-size: 17px;
        font-family: "Poppins", sans-serif;
    }

    .grupo>input {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        border: none;
    }

    .institucional {
        width: 306px;
        padding: 0;
    }

    .logoMarcopoloNavbar {

        margin-left: 32px;
    }

    .grupo>textarea {
        width: 100%;
        height: 34%;
        border-radius: 5px;
        border: none;
    }
    .josefin-sans {
        font-size: 16px;
    }
    #checkbox {
        margin-top: 24px;
        font-size: 13px;
    }
    #btnSiguienteIzqHLG {
        
        left: -87px;
    }
    #btnSiguienteDerBRQ{
        left: 1029px;
    }
    .institucional>ul {
        margin-left: 8%;
        padding: 0;
        list-style: auto;
        width: 82%;
    }
    #btnSiguienteIzqINT {
        
        left: -90px;
    }
    #Contacto{
        padding: 6% 11%;
        margin-top: 0;
    }
    .container {
     
        height: 551px;
    }
    #ubicaciones {
        padding-bottom: 5px;
        height: 749px;
        padding-top: 18px;
        }

    .institucional>ul>li {
        color: white;
        list-style: outside;
        width: 100%;
    }
    #btnSiguienteIzqBRQ {

        left: -90px;}

    .institucional>ul {
        margin-left: 8%;
        padding: 0;
        list-style: auto;
        width: 82%;
    }
    #btnSiguienteDerHLG {
     
        left: 1027px;
    }
    .introInfo>h1 {
        font-size: 34px;
        color: white;
        font-family: "Josefin Sans", sans-serif;
    }
    .contFooterPrimero>img {
        width: 120px;
        height: 120px;
        margin-top: 6%;
    }
    .roulette {
        width: 100%;
      }

.rouleta{
    width: 60%;
}
    #div1 {
        transform: translateX(-48vw) scale(0.4);
    }

    #div2 {
        transform: translateX(-56vw) scale(0.7);
    }

    #div3 {
        transform: translateX(-51vw) scale(0.4);
    }
    .titulos {
        margin: 42px 0px 30px;
        font-size: 45px;
    }
}